    <title>Doplib - Home page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="/static/dlassets/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/static/dlassets/css/animate.css">
    
    <link rel="stylesheet" href="/static/dlassets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/dlassets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/dlassets/css/magnific-popup.css">

    <link rel="stylesheet" href="/static/dlassets/css/aos.css">

    <link rel="stylesheet" href="/static/dlassets/css/ionicons.min.css">
    
    <link rel="stylesheet" href="/static/dlassets/css/flaticon.css">
    <link rel="stylesheet" href="/static/dlassets/css/icomoon.css">
    <link rel="stylesheet" href="/static/dlassets/css/style.css">