<div class="ui styled fluid accordion">
    <div class="title" style="color:black;">
        <i class="dropdown black icon"></i>
        Clique pour poser une question
    </div>
    <div class="content">
        <form id="questionForm" class="ui form">
            <div class="field">
                <label>Sujet</label>
                <input id="questionFormTitle" required="true" type="text" name="questionTitle" placeholder="Sujet">
            </div>
            <div class="field">
                <label>Question</label>
                <textarea id="questionFormContent" required="true" type="text" name="questionContent" placeholder="Question"></textarea>
            </div>
            <input  class="ui button" type="submit" value="Poser">
        </form>
    </div>
</div>