<div id="rateSection1" class="ui raised very padded text container segment" style="display:none;">
<form id="rateSection1Form" class="ui form">
  <h4 class="ui dividing header">Avis général sur le cursus</h4>
  <div class="field">
    <div id="rating1Section1" class="ui yellow rating" data-icon="star"></div>
  </div>
  <div class="field">
        <div class="ui left icon input">
            <textarea id="general_rating" required="true" placeholder="Ton avis" style="height:80%;"></textarea>
            <i class="search icon"></i>
        </div>
  </div>
  <h4 class="ui dividing header">Les professeurs et les supports de cours</h4>
 <div class="field">
    <div id="rating2Section1" class="ui yellow rating" data-icon="star"></div>
  </div>
  <div class="field">
        <div class="ui left icon input">
            <textarea id="academic_rating" required="true" placeholder="Ton avis" style="height:80%;"></textarea>
            <i class="search icon"></i>
        </div>
  </div>
    <button id="retourSection1" type="button" class="ui labeled icon button" style="color:red;">
        <i class="left arrow icon"></i>
        Retour
    </button>
    <button id="suivantSection1" class="ui right labeled icon button" style="color:green;">
        <i class="right arrow icon"></i>
        Suivant
    </button>
</form>
</div>