<div id="rateSection3" class="ui raised very padded text container segment" style="display:none;">
<form id="rateSection3Form" class="ui form">
    <h4 class="ui dividing header">Stage, alternance et insertion professionnelle</h4>
    <div class="field">
        <div id="rating1Section2" class="ui yellow rating" data-icon="star"></div>
    </div>
    <div class="field">
            <div class="ui left icon input">
                <textarea id="pro_rating" required="true" placeholder="Ton avis" style="height:80%;"></textarea>
                <i class="search icon"></i>
            </div>
    </div>
    <div class="field">
    <label>Année de promotion*</label>
    <input id="promotion" required="true" type="number" placeholder="YYYY" min="1900" max="2100">
    </div>
    <div class="field">
    </div>
        <button id="retourSection3" type="button" class="ui labeled icon button" style="color:red;">
        <i class="left arrow icon"></i>
            Retour
        </button>
        <button id="suivantSection3" class="ui right labeled icon button" style="color:green;">
            <i class="right arrow icon"></i>
            Valider
        </button>
</form>
</div>