<div id="rateSection2" class="ui raised very padded text container segment" style="display:none;">
<form id="rateSection2Form" class="ui form">
    <h4 class="ui dividing header">Ambiance, vie étudiante et associative</h4>
    <div class="field">
        <div id="rating1Section2" class="ui yellow rating" data-icon="star"></div>
    </div>
    <div class="field">
            <div class="ui left icon input">
                <textarea id="life_rating" required="true" placeholder="Ton avis" style="height:80%;"></textarea>
                <i class="search icon"></i>
            </div>
    </div>
    <h4 class="ui dividing header">Locaux, infrastructure et localisation</h4>
    <div class="field">
        <div id="rating2Section2" class="ui yellow rating" data-icon="star"></div>
    </div>
    <div class="field">
            <div class="ui left icon input">
                <textarea id="locals_rating" required="true" placeholder="Ton avis" style="height:80%;"></textarea>
                <i class="search icon"></i>
            </div>
    </div>
    <div class="field">
    </div>
        <button id="retourSection2" type="button" class="ui labeled icon button" style="color:red;">
        <i class="left arrow icon"></i>
            Retour
        </button>
        <button id="suivantSection2" class="ui right labeled icon button" style="color:green;">
            <i class="right arrow icon"></i>
            Suivant
        </button>
</form>
</div>