<div class="col-sm-1">
    <div class="ui four statistics" style="margin-top:50%;">
        <div class="yellow statistic">
            <div class="value">
            <span id="globalRatingNumber">4.5</span>
            </div>
            <div class="label">
                <div id="globalRatingStars" style='margin-bottom:2%;' data-rating='4.5' class='ui yellow rating' data-icon='star'>
                </div>
                <p id="numberOfRatings" style="font-size: 0.8em;">test</p>      
            </div>
        </div>
    </div>
</div>
<div class="col-sm">
<div class="ui horizontal list">
    <div class="item">
        <div data-rating='5' class='ui yellow rating' data-icon='star'></div>
    </div>
    <div class="item" style="width:100px;">
        <div id="oneStarBar" data-percent="74" class="ui yellow progress">
            <div class="bar"></div>
        </div>
    </div>

</div>
</div>
{{!-- <div data-rating='5' class='ui yellow rating' data-icon='star'></div>
<div id="oneStarBar" data-percent="74" class="ui yellow progress">
    <div class="bar"></div>
</div> --}}


