<div class="ui yellow progress">
  <div class="bar"></div>
</div>
<div class="ui yellow progress">
  <div class="bar"></div>
</div>
<div class="ui yellow progress">
  <div class="bar"></div>
</div>
<div class="ui yellow progress">
  <div class="bar"></div>
</div>