<header style="background-image: url(&quot;/static/assets/img/john-schnobrich-2FPjlAyMQTA-unsplash.jpg&quot;);background-position: 0% 50%;background-size: 100%;">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-search" style="background-color: rgba(255,255,255,0);">
            <div class="container"><a class="navbar-brand" href="#" style="color: rgb(255,255,255);">Doplib</a><button data-toggle="collapse" class="navbar-toggler border-light" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><i class="fa fa-align-justify" style="color: rgb(255,255,255);"></i></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: rgb(255,255,255);">à propos</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: rgb(255,255,255);">contacter</a></li>
                    </ul><a class="btn btn-light text-uppercase ml-auto action-button" role="button" href="#" style="background-color: rgb(52, 152, 219);">donne ton avis</a></div>
            </div>
        </nav>
        <div></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h4 class="text-center mb-5" style="font-size: 30px;margin-top: 10px;color: rgb(255,255,255);"><strong>Partage ton avis et aide des milliers d’étudiants</strong><br></h4>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                {{!-- <input class="form-control form-control-lg" type="email" placeholder="Rechercher un établissement"> --}}
                                <div class="ui category search">
                                <div class="ui left icon fluid input">
                                    <input id="searchInput" class="prompt" type="text" placeholder="Rechercher un établissement">
                                    <i class="university icon"></i>
                                </div>
                                </div>                      
                            </div>
                            <div class="col-12 col-md-3"><a class="btn btn-secondary btn-block btn-lg" id="searchUniv" href="#" style="background-color: rgb(60, 70, 107);">rechercher</a></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" style="opacity: 0;height: 80px;"></div>
        </div>
    </header>