<!DOCTYPE html>
<html>

<head>
    {{> iHead}}
</head>

<body>
    {{> searchHeader}}
    <div class="container">
        <div class="row" style="height: 20px;opacity: 0;"></div>
        {{> searchRecentRatings}}
        {{> searchSlider}}
        <div class="row" style="height: 20px;opacity: 0;"></div>
        <div class="row">
            <div class="col">
                <p id="universities"></p>
                <h4>Chaque expérience est enrichissante. Chaque avis aussi.<br></h4>
                <p style="color: rgb(122,123,123);">Je n’ai pas eu une expérience positive au Sacré-Cœur. J’y ai été de la maternelle à la terminale, et depuis, j’ai été marqué. Comme l’école se préoccupe beaucoup des mentions et des AP, j’ai l’impression de ne pas être intelligente, car
                    je n’ai pas assisté à beaucoup de ces cours. Je me sens maintenant mal préparée et incapable de me débrouiller dans le monde réel. rée et incapable de me débrouiller dans le monde réel.rée et incapable de me débrouiller dans le monde
                    réel.rée et incapable de me débrouiller dans.<br></p>
            </div>
        </div>
    </div>
    {{> footerBasic}}
    {{> iJsImport}}
    <script src="/static/searchPage.js"></script>
</body>

</html>