<!DOCTYPE html>
<html>

<head>
    {{> iHead}}
</head>

<body style="background-color: rgb(225,225,225);">
    {{> universityHeader}}
    <div style="margin-top: 2%;">
        <div class="container-fluid" style="margin-left: 2%;width: 95%;">
            <div class="row" style="width: 100%;">
                <div class="col-md-8" style="background-color: #ffffff;margin-bottom:5%;">
                    <div class="row" style="background-color: #ffffff;">
                        
                        <div id="filtre" class="col">
                            <ul class="nav nav-justified" style="margin-top: 2%;">
                                <li class="nav-item"><label>Filtrer par :&nbsp;</label></li>
                                <li class="nav-item">
                                    <select id="ratingSelect">
                                        <option value="" selected="">Notes</option>
                                        <option value="5">5 étoiles</option>
                                        <option value="4">4 étoiles</option>
                                        <option value="3">3 étoiles</option>
                                        <option value="2">2 étoiles</option>
                                        <option value="1">1 étoiles</option>
                                    </select>
                                </li>
                                <li class="nav-item">
                                    <select id="optionSelect">
                                        <option value="" selected="">Option</option>
                                    </select>
                                </li>
                                <li class="nav-item">
                                    <select id="promotionSelect">
                                        <option value="" selected="">Promotion</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="nofiltre" class="row" style="display:none;height:4%;"></div>
                    <div id="ratingCards" class="card-columns d-table-row">
                    </div>
                    <div id="questionCards" class="card-columns d-table-row" style="display:none !important;">
                        {{> questionForm}}                   
                    </div>
                    <div class='row' style="height:20px;"></div>
                </div>
                <div class="col-md-4">
                    <div class="btn-group-vertical btn-group-lg d-inline" role="group"><a id="askQuestion" class="btn btn-success btn-lg text-uppercase text-light border rounded-0" role="button">Voir les questions</a><a id="offWebsite" class="btn btn-warning btn-lg text-uppercase border rounded-0" target="_blank" role="button" style="margin-top: 2%;margin-bottom: 2%;">site officiel de l'établissement</a></div>
                    <div
                        class="card">
                        <div class="card-body">
                            <h4 class="card-title">Title</h4>
                            <h6 class="text-muted card-subtitle mb-2">Subtitle</h6>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p><a class="card-link" href="#">Link</a><a class="card-link"
                                href="#">Link</a></div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {{> iJsImport}}
    <script src="/static/universityPage.js"></script>
</body>

</html>
